<div class="bar bar-subheader">
  <h3 class="question">
    spicy,smokey,savory,citrusy
  </h3>
</div>
<div class="row row-center">
  <div class="col col-50 circle-text" ng-click="Main.choice(1)">
    <div>savory</div>
  </div>
  <div class="col col-50 circle-text" ng-click="Main.choice(2)">
    <div>spicy</div>
  </div>
</div>
<div class="row row-center">
  <div class="col col-50 circle-text" ng-click="Main.choice(3)">
    <div>smoky</div>
  </div>
  <div class="col col-50 circle-text" ng-click="Main.choice(4)">
    <div>citrusy</div>
  </div>
</div>
