/* Empty. Add your own CSS if you like */
*, h1,h2 {
  font-family:"raleway";
  text-align: center;
}
.question {
  text-align: center;
  padding-top: 10px;
}
.logo {

  margin-left: 15%;

  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height:35px;
  border: solid black 1px;
}
.circle-text{
    padding-top: 40%;
    /*padding: 20%;*/
    width:50%;
}
.circle-text:after{
    content: "";
    display: block;
    width: 100%;
    padding-bottom: 100%;
    border: solid  #CCCCCC 3px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.circle-text div {
    font-size: 30px;
    float:left;
    width:100%;
    padding-top:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color: #771100;
}

.box1, box2, box3 {
   height: 300px;
   border: 2px solid blue;
}
