/* Empty. Add your own CSS if you like */
*, h1,h2, h4 {
  font-family:"raleway";
  text-align: center;
}

.wine-name {
    margin: 0 10%;
}
.question {
  text-align: center;
  padding-top: 10%;
}
.logo {
  margin-left: 15%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height:35px;
  border: solid black 1px;
}
.circle-text{
    padding-top: 10%;
    width:50%;
}
.circle-text:after{
    content: "";
    display: block;
    width: 100%;
    padding-bottom: 100%;
    border: solid  #771100 2px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    opacity: .7;
}
.right:after {
  background-color: #771100;
  opacity: .2;
}
.circle-text div {
    font-size: 30px;
    float:left;
    width:100%;
    padding-top:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color: #771100;
    opacity: .7;
}

.main::after {
  content: "";
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.wine-details {
  margin-right: auto;
  margin-left: auto;
}

.slider-pager {
    position: absolute;
    bottom: 12%;
    z-index: 1;
    width: 100%;
    height: 15px;
    text-align: center;
}
